
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/clientPanel.cshtml";
}
<!-- Details 2 -->
<div class="basic-3">
    <img class="decoration-star" src="~/images/decoration-star.svg" alt="alternative">
    <div class="container">
       @*  <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">About Us</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row --> *@
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <h1>About Us</h1>

                <div class="mt-5">
                    <p>
                        Well maintained used machines for production, process and packaging are a viable alternative to expensive new equipment with long delivery times.
                    </p>
                    <p>
                        We are proud to have supplied customers within Pharmaceutical, Biologic, Nutraceutical, Cosmetic, Consumer Health, Personal Care, Food, Vitamin, Herbal and Supplement industries world-wide for more than 45 years. Our customers range from private label and generic manufacturers through to global brands.
                    </p>
                    <p>
                        Our equipment stock ranges from Laboratory, Research and Development through to large Production scale. Our machine stores are clean, safe and all machines are accessible for inspection.
                    </p>
                    <p>
                        Pharma Machines was founded in 1975 and in our present location in East Grinstead near London we maintain a large showroom and fully equipped workshop. Our works are easily reached by car or public transport.
                    </p>
                    <a class="btn-solid-reg" asp-controller="clientPanel" asp-action="ContactUs">Contact Us</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-5">
                <div class="image-container">
                    <img class="" width="100%" src="~/images/about-image.gif" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of details 2 -->