
@{
    ViewData["Title"] = "UsedEquipment";
    Layout = "~/Views/Shared/clientPanel.cshtml";
}


@model IEnumerable<UsedEquipment>
<div id="projects" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Used Equipments</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            @foreach (var usedEquipment in Model)
            {
                <div class="col-lg-4">

                    <!-- Card -->
                    <div class="card">
                        <img height="400px" width="100%" src="~/images/@usedEquipment.UsedEquipmentImage" alt="alternative">
                        <div class="card-body">
                            <h5 class="card-title">@usedEquipment.Name</h5>
                            <p class="card-text">@usedEquipment.Model<a class="blue no-line" asp-controller="clientPanel" asp-action="UsedEquipmentDetail" asp-route-id="@usedEquipment.UsedEquipmentID">...Read more</a></p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            }
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of projects -->
